[submodule "schedulers/pybatsim"]
	path = schedulers/pybatsim
	url = https://gitlab.inria.fr/batsim/pybatsim.git
[submodule "schedulers/batsched"]
	path = schedulers/batsched
	url = https://gitlab.inria.fr/batsim/batsched.git
