*.o
*_jobs.csv
*_schedule.csv
*_schedule.trace
*_pstate_changes.csv
*_machine_states.csv
*.pyc
doc/doxygen_warnings.log
doc/doxygen_doc
build
build-meson
test/out
dump.rdb
.sshkeys
*.swp
*.dia~
.nixdeps
*.ipynb_checkpoints
result
.tags*
tags
result-*
internal_test_report
external_test_report
