Olivier Richard <olivier.richard@imag.fr>
Olivier Richard <olivier.richard@inria.fr>

Millian Poquet <millian.poquet@inria.fr>
Millian Poquet <millian.poquet@irit.fr>
Millian Poquet <millian.poquet@gmail.com>
Millian Poquet <millian.poquet@univ-grenoble-alpes.fr>

Pierre-François Dutot <pfdutot@imag.fr>

Michael Mercier <michael.mercier@inria.fr>
Michael Mercier <mickours@gmail.com>
Michael Mercier <michael.mercier@atos.net>

David Glesser <david.glesser@imag.fr>

Henri Casanova <henric@hawaii.edu>
Henri Casanova <henric@dirt00.ics.hawaii.edu>

Adrien Faure <adrien.faure2@gmail.com>

Clément Mommessin <clement.mommessin@inria.fr>

Adrián Herrera Arcila <adr.her.arc.95@gmail.com>

Anderson Andrei Da Silva <silva.andersonandrei@gmail.com>

Maël Madon <mael.madon@irit.fr>
Maël Madon <36968988+Mema5@users.noreply.github.com>
